# Java
target/
*.class

# IntelliJ
.idea/
*.iml

# VS Code
.vscode/
.factorypath
.project
.settings
.classpath

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Logs
*.log

# Maven
dependency-reduced-pom.xml

# Midscene
midscene_run/

# test class for local LLM model testing
/midscene-web/src/test/java/com/midscene/web/LocalTestingTest.java
/midscene-web/src/test/java/com/midscene/web/local/LocalTestingTest.java
